<h1>{{project.title}}</h1>
<div class="center">
  <img src="/images/{{project.imgSource}}" alt="{{project.title}}" />
</div>
  <p class="card-text">{{project.description}}</p>
  <a href="{{project.link}}" class="card-link">Link to project</a>